{$SITE_ADDRESS} {
  encode zstd gzip

  @backend path /api/* /health
  handle @backend {
    reverse_proxy server:3001
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    X-Frame-Options "DENY"
    -Server
  }
}
